@model IEnumerable<Uye>

@{
    ViewData["Title"] = "Üye Listesi";
}

<h1>Üye Listesi</h1>

<div>
    <a class="btn btn-outline-primary" asp-action="Create">
        <i class="bi bi-plus-lg"></i> Yeni Ekle
    </a>
    <form asp-action="Search" method="get" class="text-end">
        <input type="search" name="filtre" placeholder="Ara.." />
    </form>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sifre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TcKimlikNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DogumTarihi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr @(ViewBag.Secili==@item.Id.ToString() ? "class=bg-warning" : "" )>
                <td>
                    @Html.DisplayFor(modelItem => item.Ad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soyad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KullaniciAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sifre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TcKimlikNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DogumTarihi)
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="MVC06CRUD" asp-action="Edit" asp-route-id="@item.Id">
                        <i class="bi bi-pencil"></i> Düzenle
                    </a> |
                    <a class="btn btn-sm btn-info" asp-controller="MVC06CRUD" asp-action="Details" asp-route-id="@item.Id">
                        <i class="bi bi-arrow-right"></i> Detay
                    </a> |
                    <a class="btn btn-sm btn-danger" asp-controller="MVC06CRUD" asp-action="Delete" asp-route-id="@item.Id">
                        <i class="bi bi-trash"></i> Sil
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@ViewBag.Secili