<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("OzelCss", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("MVC Eğitimi", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Anasayfa", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Hakkımızda", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("İletişim", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>
                        <a href="/MVC01RazorSyntax" class="nav-link">Razor Syntax</a>
                    </li>
                    <li>
                        <a href="/MVC02HtmlHelpers" class="nav-link">Html Helpers</a>
                    </li>
                    <li class="nav-item">
                        <a href="/MVC03DataTransfer" class="nav-link">DataTransfer</a>
                    </li>
                    <li class="nav-item">
                        <a href="/MVC04ModelBinding" class="nav-link">ModelBinding</a>
                    </li>
                    <li class="nav-item">
                        <a href="/MVC05ModelValidation" class="nav-link">ModelValidation</a>
                    </li>
                    <li class="nav-item">
                        <a href="/MVC06CRUD" class="nav-link">CRUD</a>
                    </li>
                    <li class="nav-item">
                        <a href="/MVC07Section" class="nav-link">Section</a>
                    </li>
                    @Html.Partial("_PartialMenu")
                </ul>
            </div>
        </div>
    </nav>
    @RenderSection("OzelIcerik", required: false)
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
