@using AspNetMVCEgitimi.NetCoreMVC.Extensions
@{
    ViewBag.Title = "Session Oku";
}

<h2>Session Oku</h2>

@if (Context.Session.GetInt32("IsLoggedIn") == 1)
{
    <div>
        Hoşgeldin
        <b>
            @TempData["SessionBilgi"]
        </b>
        <hr />
    </div>
    <h3>
        Hoşgeldin : @Context.Session.GetString("Kullanici")
    </h3>
    <h3>
        Guid : @Context.Session.GetString("UserGuid")
    </h3>
    var uye = Context.Session.GetJson<Uye>("uye");
    if (uye is not null)
    {
        <h3>Kullanıcı Bilgileriniz</h3>
        <table class="table">
            <tr>
                <td>Ad Soyad</td>
                <td>@uye.Ad @uye.Soyad</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@uye.Email</td>
            </tr>
            <tr>
                <td>TC Kimlik No</td>
                <td>@uye.TcKimlikNo</td>
            </tr>
            <tr>
                <td>Telefon</td>
                <td>@uye.Telefon</td>
            </tr>
            <tr>
                <td>Doğum Tarihi</td>
                <td>@uye.DogumTarihi.Value.ToShortDateString()</td>
            </tr>
        </table>

        <hr />

        <a href="SessionSil" class="btn btn-danger">
            Oturumu Kapat
        </a>
    }
}